<h3 style="text-align:center; color: blue;font-size: 30px;">Employee Management system</h3>
<hr>

<div class="container-fluid">

    <form>
        <div class="row">
            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Employee id</mat-label>
                    <input matInput type="number" name="eid" [(ngModel)]="empty.eid" placeholder="Enter employee id">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Employee name</mat-label>
                    <input matInput type="name" name="name" [(ngModel)]="empty.name"  placeholder="Enter employee name">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input matInput type="number" name="mobile" [(ngModel)]="empty.mobile"  placeholder="Enter your phone number">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="empty.email"  placeholder="please enter your email">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Enter your address</mat-label>
                    <textarea matInput type="name" name="address" [(ngModel)]="empty.address"  placeholder="please enter your address"></textarea>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                    <mat-label>Salary</mat-label>
                    <input matInput type="number"  name="salary" [(ngModel)]="empty.salary"  placeholder="Enter your phone salary">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline" [style.width.px]=357>
                <mat-label>Gender</mat-label>
                <mat-select  name="gender" [(ngModel)]="empty.gender" >
                  <mat-option *ngFor="let gender of usergender" [value]="gender.value">
                    {{gender.viewvalue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field appearance="outline" [style.width.px]=357>
                <mat-label>Position</mat-label>
                <mat-select  name="position" [(ngModel)]="empty.position" >
                  <mat-option *ngFor="let userposition of position" [value]="userposition.value">
                    {{userposition.viewvalue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
    </form>
    <div style="text-align: center ;">
        <button (click)="add()" type="button" class="btn btn-dark margin-left">ADD</button>
        <button [routerLink]="['/view']" type="button" class="btn btn-danger margin-left">VIEW</button>
    </div>
</div>